{% load static %}

<html>

<head>

    <title>NSN</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    {% block header %}
    {% endblock %}
</head>

<style>
    body,
    html {
        background-color: #f5f5f5;
        height: 100%;
    }
</style>


<script>
    $(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 500,
            values: [$("#amountVal").val().split(',')[0], $("#amountVal").val().split(',')[1]],
            slide: function (event, ui) {
                $("#amount").val(" Rs. " + ui.values[0] + " -  Rs " + ui.values[1]);
                $("#amountVal").val(ui.values[0] + "," + ui.values[1]);
            }
        });
        $("#amount").val("Rs. " + $("#slider-range").slider("values", 0) +
            " - Rs " + $("#slider-range").slider("values", 1));
        $("#amountVal").val($("#slider-range").slider("values", 0) + "," + $("#slider-range").slider("values", 1));
    });
</script>

<body>


    {% include 'main/includes/navbar.html' %}


    {% block content %}
    {% endblock %}




    <div class="container py-3 my-3">
        <a href="/" class="btn">Back</a>
        <h2> Editing {{ Artist.name }}</h2>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required name="name" value="{{ Artist.name }}">
                <label for="emailInput">Email address</label>
                <input type="email" class="form-control" id="emailInput" required name="email"
                    value="{{ Artist.email }}">
                <label for="profilePic">Profile</label>
                <input type="file" class="form-control" id="profilePic" name="profilePic">
                <span>OR</span>
                <input type="text" class="form-control" id="profilePic" name="profilePicUrl" placeholder="URL">

                <span>current</span>
                <img src="{{ Artist.profilePic.url }}" width="40" required alt="Profile Pic" class="img-fluid">

            </div>

            <div class="form-group">
                <h3> Skills </h3>
                <hr>
                <label for="profesionalRating">Professional Rating</label>
                <input type="number" class="form-control" id="profesionalRating" required name="profesionalRating"
                    value="{{ Artist.profesionalRating }}" max="10" min="0">
                <label for="attitudeRating">Attitude Rating</label>
                <input type="number" class="form-control" id="attitudeRating" max="10" min="0" required
                    name="attitudeRating" value="{{ Artist.attitudeRating }}">
                <label for="skill">Skill</label>
                <select class="form-control" id="skill" required name="skill">
                    {% for skill in skills %}
                    {% if skill.0 == Artist.skill %}
                    <option value="{{ skill.0 }}" selected>{{ skill.1 }}</option>
                    {% else %}
                    <option value="{{ skill.0 }}">{{ skill.1 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="age">Age</label>
                <input type="number" class="form-control" id="age" required name="age" value="{{ Artist.age }}">
                <label for="phone">Phone</label>
                <input type="number" class="form-control" id="phone" required name="phone" value="{{ Artist.phone }}">
            </div>
            <div class="form-group">
                <h3> Work </h3>
                <hr>
                <label for="location"> Location</label>
                <select class="form-control" id="location" required value="{{ Artist.location }}" name="location">
                    {% for location in locations %}
                    {% if location.0 == Artist.location %}
                    <option value="{{ location.0 }}" selected>{{ location.1 }}</option>
                    {% else %}
                    <option value="{{ location.0 }}">{{ location.1 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="genre">Genre</label>
                <select multiple class="form-control" id="genre" required name="genre">
                    {% for genre in genres %}
                    {% if genre.0 in Artist.genre %}
                    <option value="{{ genre.0 }}" selected>{{ genre.1 }}</option>
                    {% else %}
                    <option value="{{ genre.0 }}">{{ genre.1 }}</option>
                    {% endif %}

                    {% endfor %}
                </select>

                <label for="language">Language</label>
                <select multiple class="form-control" id="language" required name="languages">
                    {% for language in languages %}
                    {% if language.0 in Artist.languages %}
                    <option value="{{ language.0 }}" selected>{{ language.1 }}</option>
                    {% else %}
                    <option value="{{ language.0 }}">{{ language.1 }}</option>
                    {% endif %}

                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="otherPerformingArts"> Other Performing Arts</label>
                <textarea class="form-control" id="otherPerformingArts" required rows="3" name="otherPerformingArts"
                    placeholder="{{ Artist.otherArts }}">{{  Artist.otherArts  }}</textarea>
            </div>
            <div class="form-group">
                <h3> Budget </h3>
                <hr>
                <label for="budgetIdea"> Budget Idea</label>
                <textarea class="form-control" id="budgetRange" required rows="3" name="budgetIdea"
                    placeholder="{{ Artist.budgetIdea }}">{{  Artist.budgetIdea  }}</textarea>
                <label for="AMNotes"> AM Notes</label>
                <textarea class="form-control" id="AMNotes" required rows="3" name="AMNotes"
                    placeholder="{{ Artist.AMNotes }}">{{  Artist.amNotes  }}</textarea>
                <label for="PMNotes"> PM Notes</label>
                <textarea class="form-control" id="PMNotes" required rows="3" name="PMNotes"
                    placeholder="{{ Artist.PMNotes }}">{{  Artist.pmNotes  }}</textarea>
                <label for="budgetRange"> Budget Range (Rs)</label>
                <p>
                    <input type="text" id="amount" readonly style="border:0; color:#1f58f6; font-weight:bold;">
                    <input type="hidden" id="amountVal" value="{{   Artist.budgetRange}}" readonly
                        style="border:0; color:#1f58f6; font-weight:bold;" name="budgetRange">
                </p>
                <div id="slider-range"></div>

            </div>
            <div class="form-group">
                <h3> Agreement </h3>
                <hr>
                <label for="agreement"> Agreement</label>
                <input type="url" class="form-control" id="agreement" required name="agreement"
                    value="{{ Artist.agreement }}">
            </div>

            <div class="form-group">
                <h3> Social</h3>
                <hr>


                <div class="d-flex">
                    {% for social in Social %}
                    <a href="{{social}}" class="btn btn-secondary m-2">{{ social }}</a>
                    <br />

                    {% endfor %}
                </div>



            </div>
            <div class="form-group">
                <h3> Work</h3>
                <hr>


                <div class="d-flex">
                    {% for social in Works %}
                    <a href="{{social.link}}" class="btn btn-secondary m-2">{{ social.name }}</a>
                    <br />

                    {% endfor %}
                </div>



            </div>



            <div class="form-group container">
                <h3>Do you have a manager? (if so please fill)</h3>
                <div class="form-check form-switch">
                    {% if Artist.hasManager %}
                    <input class="form-check-input" type="checkbox" role="switch" id="manager" name="manager" checked>
                    {% else %}
                    <input class="form-check-input" type="checkbox" role="switch" id="manager" name="manager">
                    {% endif %}
                    <label class="form-check-label" for="manager">Checked switch checkbox input</label>
                </div>
                <hr>
                <label for="managerName"> Manager Name </label>
                <input type="text" class="form-control" id="managerName" name="managerName" value="{{ Manager.name }}">
                <label for="managerPhone"> Manager Phone </label>
                <input type="number" class="form-control" id="managerPhone" name="managerPhone"
                    value="{{ Manager.phone }}">
                <label for="managerEmail"> Manager Email</label>
                <input type="email" class="form-control" id="managerEmail" name="managerEmail"
                    value="{{ Manager.email }}">
            </div>
            <button type="submit" class="btn btn-primary my-3"> Save </button>

        </form>
        {% if Artist.id %}
        <form action="{% url 'profiles:deleteArtist' Artist.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger my-3"> Delete </button>
        </form>
        {% endif %}


    </div>



    {% include 'main/includes/footer.html' %}
    {% block footer %}
    {% endblock %}

</body>

</html>