<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
            <th scope="col">Location</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        {% for artist in Artists %}


        <tr>
            <th scope="row">1</th>
            <td> {{ artist.name }} </td>
            <td>
                <img src='{{ artist.profilePic.url }}' width="40" alt='Profile Pic' class='img-fluid'>
            </td>
            <td> {{ artist.location }}</td>
            <td>
                <a href="/artist/{{artist.id}}" class="btn btn-primary">

                    View
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>