{% load static %}
<html>

<head>

    <title>NSN</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    {% block header %}
    {% endblock %}
</head>

<style>
    body,
    html {
        background-color: #f5f5f5;
        height: 100%;
    }
</style>

<body>


    {% include 'main/includes/navbar.html' %}


    {% block content %}
    {% endblock %}




    <div class="container py-3 my-3">
        <a href="/" class="btn">Back</a>
        <h2> Editing {{ Artist.name }}</h2>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required name="name" value="{{ Artist.name }}">
            </div>
            <div class="form-group">
                <label for="emailInput">Email address</label>
                <input type="email" class="form-control" id="emailInput" required name="email"
                    value="{{ Artist.email }}">
            </div>
            <div class="form-group">
                <label for="profilePic">Profile</label>
                <input type="file" class="form-control" id="profilePic" name="profilePic">
                <span>current</span>
                <img src="{{ Artist.profilePic.url }}" width="40" required alt="Profile Pic" class="img-fluid">
            </div>
            {% if Artist.skill == "Actor" %}
            <div class="form-group">
                <label for="age">Age</label>
                <input type="number" class="form-control" id="age" required name="ageee" value="{{ Artist.age }}">
            </div>
            {% endif %}
            <div class="form-group">
                <label for="age">Phone</label>
                <input type="number" class="form-control" id="age" required name="phone" value="{{ Artist.phone }}">
            </div>
            <div class="form-group">
                <label for="profesionalRating">Professional Rating</label>
                <input type="number" class="form-control" id="profesionalRating" required name="profesionalRating"
                    value="{{ Artist.profesionalRating }}" max="10" min="0">
            </div>
            <div class="form-group">
                <label for="attitudeRating">Attitude Rating</label>
                <input type="number" class="form-control" id="attitudeRating" max="10" min="0" required
                    name="attitudeRating" value="{{ Artist.attitudeRating }}">
            </div>
            <div class="form-group">
                <label for="skill">Skill</label>

                <select class="form-control" id="skill" required name="skill">
                    {% for skill in skills %}
                    {% if skill.0 == Artist.skill %}
                    <option value="{{ skill.0 }}" selected>{{ skill.1 }}</option>
                    {% else %}
                    <option value="{{ skill.0 }}">{{ skill.1 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="location"> Location</label>
                <select class="form-control" id="location" required value="{{ Artist.location}}" name="location">
                    {% for location in locations %}
                    {% if location.0 == Artist.location %}
                    <option value="{{ location.0 }}" selected>{{ location.1 }}</option>
                    {% else %}
                    <option value="{{ location.0 }}">{{ location.1 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="language">Language</label>
                <select multiple class="form-control" id="language" required name="languages">
                    {% for language in languages %}
                    {% if Artist.language == language %}
                    <option value="{{ language.0 }}" selected>{{ language.1 }}</option>
                    {% else %}
                    <option value="{{ language.0 }}">{{ language.1 }}</option>
                    {% endif %}

                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="otherPerformingArts"> Other Performing Arts</label>
                <textarea class="form-control" id="otherPerformingArts" rows="3" name="otherPerformingArts"></textarea>
            </div>
            <button type="submit" class="btn btn-primary my-3"> Save </button>
        </form>

    </div>



    {% include 'main/includes/footer.html' %}
    {% block footer %}
    {% endblock %}

</body>

</html>