<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <h3>SignUp</h3>
    <form action="/signup" method="post">
      {% csrf_token %}
      <label for=""><b>Username</b></label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Create a username (only letters and numbers allowed)"
        required
      />
      <br />

      <label for=""><b>First Name</b></label>
      <input
        type="text"
        id="fname"
        name="fname"
        placeholder="Enter your first name"
        required
      />
      <br />

      <label for=""><b>Last name</b></label>
      <input
        type="text"
        id="lname"
        name="lname"
        placeholder="Enter your last name"
        required
      />
      <br />

      <label for=""><b>Email Address</b></label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter your email Address"
        required
      />
      <br />

      <label for=""><b>Password</b></label>
      <input
        type="password"
        id="pass1"
        name="pass1"
        placeholder="Create your password"
        required
      />
      <br />
      <label for=""><b>Confirm your password</b></label>
      <input
        type="password"
        id="pass2"
        name="pass2"
        placeholder="Confirm your password"
        required
      />
      <br />

      <button type="submit">SignUp</button>
      <br />
    </form>
  </body>
</html>
